@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/500.css';
@import '@fontsource/montserrat/700.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --text: #1f2128;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);

  --website-color-orange: #ffce22;
  --website-color-orange-hover: #ffd84d;

  --website-color-checkbox-border: #cdcdcd;
  --website-color-checkbox-checkmark-hover: #E3E3E3;
  --website-color-checkbox-checked: #2469F6;
  --website-color-checkbox-press: #5087F8;

  --sans: 'Montserrat', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Montserrat', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 14px/130% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Primary Button Styles */
.button {
  font: 400 14px/130% var(--sans);
}

.button:hover {
  background: var(--website-color-orange-hover);
  cursor: pointer;
}

.button:active {
  background: var(--website-color-orange);
  cursor: default;
}

.button-primary-done {
  background: var(--website-color-orange);
  color: var(--text);

  width: 340px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
}

input[type='checkbox'] {
  appearance: none;
  --webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid var(--website-color-checkbox-border);
  border-radius: 6px;
  color: var(--bg);
  background: var(--bg);
  cursor: pointer;
  opacity: 60%;

  display: grid;
  place-items: center;
}

input[type='checkbox']::after {
  content: '\f00c'; /* fa-check */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 14px;
  line-height: 1;
  color: var(--website-color-checkbox-checkmark-hover);

  opacity: 0; /* hide by default if only on hover/checked */
  transform: scale(0.8);
  transition:
    opacity 120ms ease,
    transform 120ms ease;
}

input[type='checkbox']:hover::after,
input[type='checkbox']:checked::after {
  opacity: 1;
  transform: scale(1);
}

input[type='checkbox']:active,
input[type='checkbox']:checked:active {
  opacity: 1;
  background: var(--website-color-checkbox-press);
}

input[type='checkbox']:checked {
  opacity: 1;
  background: var(--website-color-checkbox-checked);
}
